<div style="padding: 1em;" >
  <mat-card class="mat-card">
    <mat-card-header class="center-card-content">
      <mat-card-title class="chart-title" [ngStyle]="{'padding-bottom': isVisible?'0.5em':'0em'}">{{ title }}</mat-card-title>
    </mat-card-header>
    <div class="cards-row" [ngStyle]="{ 'display': isVisible ? 'flex' : 'none' }">
      <mat-card appDetailsBorderCard>
        <mat-card-title class="details-card-title">Number of entries</mat-card-title>
        <mat-card-subtitle>{{data.participations}}</mat-card-subtitle>
      </mat-card >
      <mat-card appDetailsBorderCard>
        <mat-card-title class="details-card-title">Total number medals</mat-card-title>
        <mat-card-subtitle>{{data.medals}}</mat-card-subtitle>
      </mat-card>
      <mat-card appDetailsBorderCard>
        <mat-card-title class="details-card-title">Total number of athletes</mat-card-title>
        <mat-card-subtitle>{{data.athletes}}</mat-card-subtitle>
      </mat-card>
    </div>
  </mat-card>
</div>
