/* Top toolbar - displays the application title */
.mat-toolbar-title {
  font-size: 3vw;
  flex: 1; /* Text takes up all available space */
  text-align: center; /* Center the text horizontally */
}

/* Application title */
.app-title {
  display: inline-block;
  height: 1em;
}

/* Adjust the height of mat-toolbar */
.mat-toolbar {
  height: 6vw!important; /* Adjust the height as per your requirement */
}

/* icons with the toolbar */
.cup-mat-icon-left {
  padding-right: 0.5em;
}

.cup-mat-icon-right {
  padding-left: 0.5em;
}

.cup-mat-icon {
  //padding-bottom:0.1em;
  width: 1em !important;
  height: 1em !important;
  display: inline-flex !important;
}

.cup-mat-icon {
  height: 1em;
}

svg {
  padding-top: 0.1em;
}
