<div style="padding: 1em;" class="chart-title-container">
  <div class="chart-title">
    {{ title }}
  </div>
    <div class="cards-row" >
      <div class="card-content" appDetailsBorderCard>
        <div class="details-card-title"> {{isAthelesCountVisible?"Number of entries":"Number of JOs"}}</div>
        <div class="card-subtitle">{{data?.joCount}}</div>
      </div>
      <div class="card-content" appDetailsBorderCard>
        <div class="details-card-title"> {{isAthelesCountVisible?"Total number medals":"Number of countries"}}</div>
        <div class="card-subtitle">{{data?.medals}}</div>
      </div>
      <div class="card-content" appDetailsBorderCard [ngStyle]="{ 'display': isAthelesCountVisible ? 'flex' : 'none' }">
        <div class="details-card-title"> Total number of athletes</div>
        <div class="card-subtitle">{{data?.athletes}}</div>
      </div>
    </div>
</div>
