<mat-card class="mat-card mat-elevation-z8">
  <div style="text-align: center">
    <app-chart-title-bar [title]="chartTitle" [isVisible]="isDetailsVisible"
                         [data]="detailsTotals"></app-chart-title-bar>
    <canvasjs-chart [options]="mainPieChartOptions" [styles]="{width: '100%', height:'500px'}"
                    (chartInstance)="getChartInstance($event)"></canvasjs-chart>
    <button mat-flat-button color="primary"
            [ngClass]="'backButton'"
            *ngIf="this.isBackButtonVisible"
            (click)="handleClick()">
      Back
    </button>
  </div>
</mat-card>

