<div class="card-content">
  <h2>À propos de l'application</h2>

  <p>
    Le but de cette application est de mettre à disposition des utilisateurs un dashboard permettant de visualiser les
    informations des précédents Jeux olympiques (nombre de médailles par pays, etc.).
  </p>
  <p>
    Elle est aussi une base d'étude d'Angular:
  </p>
  <ul>
    <li>Architecture modulaires</li>
    <li>Composants</li>
    <li>Liaison de données (interpolation, liaison de données etc.)</li>
    <li>Services</li>
    <li>Utilisation des observables</li>
    <li>Directives</li>
    <li>Routing</li>
  </ul>
  <p>Elle repose sur la librairie de graphiques de <a id="canvasjs-link" href="https://canvasjs.com/" target=”_blank”>CanvasJS</a>.</p>
  <p>
    Il s'agit de la version <b>{{ applicationVersion }}</b>, le code source est disponible sur :
    <a href="https://github.com/popcodelab/Olympic-Games" target=”_blank”>
      <fa-icon class="fa-2xl" [icon]="['fab','github']"></fa-icon>
    </a>
  </p>
</div>
