<div class="card-content">
  <h2>À propos de l'application</h2>

  <p>
    Le but de cette application est de mettre à disposition des utilisateurs un dashboard permettant de visualiser les informations des précédents Jeux olympiques (nombre de médailles par pays, etc.).
  <p>
    Il s'agit de la version {{ applicationVersion }}, le code source est disponible
    <a href="https://github.com/popcodelab/Olympic-Games" >
      <fa-icon class="fa-2xl" [icon]="['fab','github']" ></fa-icon>
    </a>
  </p>
</div>
